.top-page-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #eeeeee;
  color: #777777;
}

.app-name h2 {
  /* background-color: grey; */
  font-size: 50px;
  margin: 10px 0 0 30px;
}

.title-header {
  text-decoration: none;
  color: #808080;
}

.categories {
  display: flex;
}

.lists {
  display: flex;
  margin-right: 70px;
  /* background-color: yellowgreen; */
  padding-top: 35px;
}

.lists li {
  padding-left: 60px;
}

.userList {
  text-decoration: none;
  color: #222222	;
}

.userName {
  color: #222222;
}