<footer class="top-page-footer">
  <div class="footer-contents">
    <p class="navi" id="navi">栄養表示について</p>
    <p class="foot">Food check. 2021 S_07 </p>
  </div>
  <div class="sentence hidden" id="sentence">
    <p>各食材の栄養については、</p>
    <p>文部科学省の</p>
    <p>日本食品標準成分表を参考にしています。</p>
  </div>
</footer>