<header class="top-page-header">
  <div class="app-name">
    <h2>Food Check</h2>
  </div>
  <div class="categories">
    <ul class="lists">
      <li>マイページ</li>
      <li>カテゴリー</li>
      <li>新規登録</li>
      <li>ログイン</li>
    </ul>
  </div>
</header>