<header class="second-page-header">
  <div class="second-app-name">
    <h2>Check myself</h2>
  </div>
  <div class="categories">
    <ul class="lists">
      <li><%= link_to 'Food checkへ', root_path, class: "secondList" %></li>
      <li><%= link_to 'ログアウト' , destroy_user_session_path, method: :delete, class: "secondList" %></li>
    </ul>
  </div>
</header>